#startBtn{
    border: 1px solid;
    padding: 5px;
    box-shadow: 5px 5px;
    background-color: orange;
    white-space: nowrap;
    cursor: pointer;
}

.Welcome{
    text-align: center;
    margin: 2em 10em;
    font-size: 1.5em;
    padding: 10px;
}
@media screen and (max-width: 600px){
    .Welcome {
        margin: 10px;
    }
}